{% load static %}

<div class="row">

              <div class="col-md-3 col-sm-6">

                  <div class="cause">

                      <img src="{% static 'images/causes/cause-hunger.jpg' %}" alt="" class="cause-img">

                      <div class="progress cause-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                          10$ / 500$
                        </div>
                      </div>

                      <h4 class="cause-title"><a href="#">HUNGER AND POVERTY </a></h4>
                      <div class="cause-details">
                          I held a moment in my hand,<br>
                            Brilliant as a star,<br>
                            Fragile as a flower,<br>
                            A shiny silver out of one hour.<br>
                            I dropped it carelessly.<br>
                            Oh God! I knew not,<br>
                            I held opportunity.<br>
                          Here's another opportunity,<br>
                          Save a child.
                      </div>

                      <div class="btn-holder text-center">

                        <a href="{% url 'donate' %}" class="btn btn-primary"> DONATE NOW</a>

                      </div>



                  </div> <!-- /.cause -->

              </div>

              <div class="col-md-3 col-sm-6">

                  <div class="cause">

                      <img src="{% static 'images/causes/cause-education.jpg' %}" alt="" class="cause-img">

                      <div class="progress cause-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                          400$ / 700$
                        </div>
                      </div>

                      <h4 class="cause-title"><a href="#">EDUCATION AND TRAINING</a></h4>
                      <div class="cause-details">
                          I held a moment in my hand,<br>
                            Brilliant as a star,<br>
                            Fragile as a flower,<br>
                            A shiny silver out of one hour.<br>
                            I dropped it carelessly.<br>
                            Oh God! I knew not,<br>
                            I held opportunity.<br>
                          Here's another opportunity,<br>
                          Train a child.
                      </div>

                      <div class="btn-holder text-center">

                        <a href="{% url 'donate' %}" class="btn btn-primary"> DONATE NOW</a>

                      </div>



                  </div> <!-- /.cause -->

              </div>


              <div class="col-md-3 col-sm-6">

                  <div class="cause">

                      <img src="{% static 'images/causes/cause-rights.jpg' %}" alt="" class="cause-img">

                      <div class="progress cause-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                          400$ / 1000$
                        </div>
                      </div>

                      <h4 class="cause-title"><a href="#">HUMAN RIGHTS</a></h4>
                      <div class="cause-details">
                          I held a moment in my hand,<br>
                            Brilliant as a star,<br>
                            Fragile as a flower,<br>
                            A shiny silver out of one hour.<br>
                            I dropped it carelessly.<br>
                            Oh God! I knew not,<br>
                            I held opportunity.<br>
                          Here's another opportunity,<br>
                          Protect a child.
                      </div>

                      <div class="btn-holder text-center">

                        <a href="{% url 'donate' %}" class="btn btn-primary"> DONATE NOW</a>

                      </div>



                  </div> <!-- /.cause -->

              </div>

              <div class="col-md-3 col-sm-6">

                  <div class="cause">

                      <img src="{% static 'images/causes/cause-culture.jpg' %}" alt="" class="cause-img">

                      <div class="progress cause-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                          400$ / 700$
                        </div>
                      </div>

                      <h4 class="cause-title"><a href="#">ARTS AND CULTURE </a></h4>
                      <div class="cause-details">
                          I held a moment in my hand,<br>
                            Brilliant as a star,<br>
                            Fragile as a flower,<br>
                            A shiny silver out of one hour.<br>
                            I dropped it carelessly.<br>
                            Oh God! I knew not,<br>
                            I held opportunity.<br>
                          Here's another opportunity,<br>
                          Cultivate a child.
                      </div>

                      <div class="btn-holder text-center">

                        <a href="{% url 'donate' %}" class="btn btn-primary"> DONATE NOW</a>

                      </div>



                  </div> <!-- /.cause -->

              </div>

          </div>