<div class="btn-holder">

  <a href="mailto:levi.chinecherem@yahoo.com" class="btn"> <i class="fa fa-envelope"></i> </a>
  <a href="https://www.facebook.com/levi.chinecheremchidi.9" class="btn"> <i class="fa fa-facebook"></i> </a>
  <a href="https://twitter.com/LeviChinecherem" class="btn"> <i class="fa fa-twitter"></i> </a>
  <a href="https://www.linkedin.com/in/levi-chinecherem-c-a8752a202/" class="btn"> <i class="fa fa-linkedin"></i> </a>
    <a href="https://www.github.com/Levi-Chinecherem" class="btn"> <i class="fa fa-github"></i> </a>
    <a href="https://www.pinterest.com/levichinecherem/_saved/" class="btn"> <i class="fa fa-pinterest-p"></i> </a>

</div>