{% extends 'base.html' %}
{% load static %}

  {% block content %}


	<div class="page-heading text-center">
		<div class="container zoomIn animated">
			<h1 class="page-title">GALLERY <span class="title-under"></span></h1>
			<p class="page-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit Necessitatibus.
			</p>
		</div>
	</div>

	<div class="main-container">
		<div class="container gallery fadeIn animated">
			<div class="row">

					<a href="{% static 'images/gallery/7610291856_931fb9f461_k.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">
						<img src="{% static 'images/gallery/thumb/7610291856_931fb9f461_k.jpg' %}" alt="">
						<span class="on-hover">
							<span class="hover-caption">Love</span>
						</span>
					</a> <!-- /.gallery-item -->

					<a href="{% static 'images/gallery/children-82272_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">
						<img src="{% static 'images/gallery/thumb/children-82272_1280.jpg' %}" alt="">
						<span class="on-hover">
							<span class="hover-caption">Care</span>
						</span>
					</a> <!-- /.gallery-item -->


					<a href="{% static 'images/gallery/human-rights.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">
						<img src="{% static 'images/gallery/thumb/human-rights.jpg' %}" alt="">
						<span class="on-hover">
							<span class="hover-caption">Attention</span>
						</span>
					</a> <!-- /.gallery-item -->


					<a href="{% static 'images/gallery/old-books-436498_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">
						<img src="{% static 'images/gallery/thumb/old-books-436498_1280.jpg' %}" alt="">
						<span class="on-hover">
							<span class="hover-caption">Culture</span>
						</span>
					</a> <!-- /.gallery-item -->

					<a href="{% static 'images/gallery/hunger-682834_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">
						<img src="{% static 'images/gallery/thumb/hunger-682834_1280.jpg' %}" alt="">
						<span class="on-hover">
							<span class="hover-caption">Food</span>
						</span>
					</a> <!-- /.gallery-item -->

					<a href="{% static 'images/gallery/africa-education.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">
						<img src="{% static 'images/gallery/thumb/africa-education.jpg' %}" alt="">
						<span class="on-hover">
							<span class="hover-caption">Education</span>
						</span>
					</a> <!-- /.gallery-item -->

					<a href="{% static 'images/gallery/afghani-60798_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">
						<img src="{% static 'images/gallery/thumb/afghani-60798_1280.jpg' %}" alt="">
						<span class="on-hover">
							<span class="hover-caption">Inspirations</span>
						</span>
					</a> <!-- /.gallery-item -->

					<a href="{% static 'images/gallery/boy-60729_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">
						<img src="{% static 'images/gallery/thumb/boy-60729_1280.jpg' %}" alt="">
						<span class="on-hover">
							<span class="hover-caption">Smiles</span>
						</span>
					</a> <!-- /.gallery-item -->


					<a href="{% static 'images/gallery/child-207573_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">
						<img src="{% static 'images/gallery/thumb/child-207573_1280.jpg' %}" alt="">
						<span class="on-hover">
							<span class="hover-caption">Hope</span>
						</span>
					</a> <!-- /.gallery-item -->

					<a href="{% static 'images/gallery/children-60654_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">
						<img src="{% static 'images/gallery/thumb/children-60654_1280.jpg' %}" alt="">
						<span class="on-hover">
							<span class="hover-caption">Fate</span>
						</span>
					</a> <!-- /.gallery-item -->

					<a href="{% static 'images/gallery/doll-87407_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">
						<img src="{% static 'images/gallery/thumb/doll-87407_1280.jpg' %}" alt="">
						<span class="on-hover">
							<span class="hover-caption">Toys</span>
						</span>
					</a> <!-- /.gallery-item -->

					<a href="{% static 'images/gallery/girl-62328_1280.jpg' %}" class="col-md-3 col-sm-4 gallery-item lightbox">
						<img src="{% static 'images/gallery/thumb/girl-62328_1280.jpg' %}" alt="">
						<span class="on-hover">
							<span class="hover-caption">Pet</span>
						</span>
					</a> <!-- /.gallery-item -->

			</div>
		</div>
	</div> <!-- /.main-container  -->


{% endblock content %}