{% load static %}

<div class="container">

          <div class="row">

              <div class="col-md-3 col-sm-6">

                <div class="about-us-col">

                      <div class="col-icon-wrapper">
                        <img src="{% static 'images/icons/our-mission-icon.png' %}" alt="">
                      </div>
                      <h3 class="col-title">our mission</h3>
                      <div class="col-details">

                        <p>Promote education, protect their human rights, promote art and culture and eradicated poverty</p>

                      </div>
                      <a href="#" class="btn btn-primary"> Read more </a>

                </div>

              </div>


              <div class="col-md-3 col-sm-6">

                <div class="about-us-col">

                      <div class="col-icon-wrapper">
                        <img src="{% static 'images/icons/make-donation-icon.png' %}" alt="">
                      </div>
                      <h3 class="col-title">Make donations</h3>
                      <div class="col-details">

                        <p>Through donations, we raise the fund to fulfill our missions, you can be part of this too</p>

                      </div>
                      <a href="#" class="btn btn-primary"> Read more </a>

                </div>

              </div>


              <div class="col-md-3 col-sm-6">

                <div class="about-us-col">

                      <div class="col-icon-wrapper">
                        <img src="{% static 'images/icons/help-icon.png' %}" alt="">
                      </div>
                      <h3 class="col-title">Help & support</h3>
                      <div class="col-details">

                        <p>You can be part of our mission by supporting our motion, physically, financially and otherwise</p>

                      </div>
                      <a href="#" class="btn btn-primary"> Read more </a>

                </div>

              </div>


              <div class="col-md-3 col-sm-6">

                <div class="about-us-col">

                      <div class="col-icon-wrapper">
                        <img src="{% static 'images/icons/programs-icon.png' %}" alt="">
                      </div>
                      <h3 class="col-title">our programs</h3>
                      <div class="col-details">

                        <p>Our programs are clearly stated in our mission: Education, Human Right, Arts and Eradication of Poverty</p>

                      </div>
                      <a href="#" class="btn btn-primary"> Read more </a>

                </div>

              </div>



          </div>

      </div>